:root {
  /* Colors */
  --background: #111315;
  --surface: #171a1d;

  --text: #f2f2f2;
  --text-secondary: #9fa3a7;

  --accent: #3b6d73;

  /* Layout */
  --container: 1200px;

  /* Typography */
  --font: "Satoshi", sans-serif;

  /* Animation */
  --transition: 0.3s ease;
}
